<!-- this is out home page -->

<div class="cauthor">
    <h1 class="author__heading">Hi, I am Rash.</h1>
    <p class="author__body">Full stack wed developer and a student and Rebase academy.</p>
</div>

<img src="/images/index/banner_img.jpeg" alt="banner image" height="400" width="900" />

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="last_tag">Click me</a>
</section>